{% extends 'base.html' %}

{% block app_content %}
  <section class="blog-list px-3 py-5 p-md-5">
    <div class="container">
      {% for post in posts %}
          {% include "post_preview.html" %}
      {% endfor %}
      <nav class="blog-nav nav nav-justified my-5">
        <a class="nav-link-prev nav-item nav-link {% if not prev_url %}disabled{% endif %} rounded-left" href="{{ prev_url or '#' }}">Previous<i class="arrow-prev fas fa-long-arrow-alt-left"></i></a>
        <a class="nav-link-next nav-item nav-link {% if not next_url %}disabled{% endif %} rounded-right" href="{{ next_url or '#' }}">Next<i class="arrow-next fas fa-long-arrow-alt-right"></i></a>
      </nav>
    </div>
  </section>
{% endblock app_content %}