{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hello {{ current_user.username }}</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.post.label }}
        {{ form.post() }}
        {% for error in form.post.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.submit() }}
    </form>
    {{ ckeditor.config(name="post") }}
    <!--script src="{{ url_for('static', filename='summernote.js') }}" type="text/javascript"></script-->
    {% endif %}
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
    <nav aria-label="Page navigation example">
        <ul class="pagination text-center">
            <li class="page-item{% if not next_url %} disabled {% endif %}">
                <a class="page-link" href="{{ next_url or '#' }}" tabindex="-1">Older posts</a>
            </li>
            <li class="page-item{% if not prev_url %} disabled {% endif %}">
                <a class="page-link" href="{{ prev_url or '#' }}" tabindex="-1">Newer posts</a>
            </li>
            
        </ul>
    </nav>
{% endblock app_content %}