{% extends 'base.html' %}
{% block app_content %}
    <div class="col-8">
        <head>
            <h1 class="mt-4">{{ post.title|safe }}</h1>
            <div class="meta mb-3">
                <span>{{ post.author.username }}</span>
                <span>{{ moment(post.timestamp).format('D.M.YYYY, hh:mm') }}</span>
                {% if post.author.username == current_user.username %}
                <span><a href="{{ url_for('content.edit_page', id=post.id) }}">Edit post</a></span>
                <span><a href="{{ url_for('content.delete_page', id=post.id) }}">Delete post</a></span>
                {% endif %}
            </div>
        </head>
        <div class="blog-post-body">
            <img class="img-fluid" alt="image" src="https://hackersandslackers-cdn.storage.googleapis.com/2020/02/uWSGI@2x.jpg"/>
            <div id="post{{ post.id }}">{{ post.body|safe }}</div>
        </div>
    </div>
{% endblock app_content %}