{% extends 'base.html' %}

{% block app_content %}
    <h1>Add some content</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{ form.post.label }}
        {{ form.post() }}
        {% for error in form.post.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        {{ form.submit() }}
    </form>

    <script src="{{ url_for('static', filename='summernote.js') }}" type="text/javascript"></script>
    {% endif %}
{% endblock app_content %}